/* react-jsonschema-form use text instead of icon in buttons */
i.glyphicon { display: none; }
.btn-add::after { content: '+'; }
.array-item-move-up::after { content: '▲'; }
.array-item-move-down::after { content: '▼'; }
.array-item-remove::after { content: '✕'; }
